body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 6px;
}

#gameGrid {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid black;
    height:100%;
    background-color: lightgray;
}

#gameGrid div {
    border: 1px solid black;
    text-align: center;
    place-items: center;
    display: inline-block;
    position:relative;
    padding: 0 0 0 0;
}

#gameGrid p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    z-index: 0;
    margin: 0 0 0 0;
}

#gameGrid button {
    position: relative;
    top:0;
    left: 0;
    z-index: 1;
    width:100%;
    height: 100%;
    background-color: transparent;
    color: black;
    border: none;
}

.hidden {
    visibility: hidden;
}

.x {
    background-color: lightcoral;
}

.o {
    background-color: lightcyan;
}

#newGame {
    width: 120px;
    align-self: end;
    background-color: green;
    color: white;
    border-radius: 50vh;
}